@model Spice.Models.ViewModels.OrderDetailsCart
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.listCart.Count > 0)
    {
        <br />
        <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
        <div class="background-search-white">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6 mt-1">
                            <i class="fas fa-shopping-cart">&nbsp;</i> Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-outline-info btn-sm">Back to cart</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container p-2 rounded">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">PickUp Details</span>
                                        </h4>
                                    </div>
                                    <div class="row mx-1">
                                        <div class="col-3">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.OrderHeader.PickUpName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row mx-1">
                                        <div class="col-3">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.OrderHeader.PhoneNumber" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row mx-1">
                                        <div class="col-3">
                                            <label>Date</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.OrderHeader.PickUpDate" id="datepicker" value="" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row mx-1">
                                        <div class="col-3">
                                            <label>Time</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.OrderHeader.PickUpTime" id="timepicker" value="" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row mx-1">
                                        <div class="col-3">
                                            <label>Addtitional instructions:</label>
                                        </div>
                                        <div class="col-9">
                                            <textarea asp-for="@Model.OrderHeader.Comments" style="height:100px;" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 offset-lg-1">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Order Summary</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{var total = 0.0;}
                                        @foreach (var details in Model.listCart)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@details.MenuItem.Name</h6>
                                                    <small class="text-muted">Quantity: @details.Count</small>
                                                </div>
                                                <span class="text-muted">$@(details.MenuItem.Price * details.Count)</span>
                                                @{total += (details.MenuItem.Price * details.Count);}
                                            </li>
                                                                                         }
                                        @if (Model.OrderHeader.CouponCode != null)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div class="text-success">
                                                    <h6 class="my-0">Promo Code</h6>
                                                    <small class="text-success">@Model.OrderHeader.CouponCode</small>
                                                </div>
                                                <span class="text-success">-$@(Math.Round(total - Model.OrderHeader.OrderTotal, 2));</span>
                                            </li>
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <h6 class="my-0">Total USD</h6>
                                            <strong class="text-info">$@(Model.OrderHeader.OrderTotal)</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="background-search-white"> No items added to the cart...</div>
    }

</form>

@section Scripts{
    
    
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    
        <script>

            var minDt = 0;
            if (getTimeFromCurrentDate() >= 20) {
                minDt = 1; //Jeśli jest po 20 następny dzień.
            }
            $(function () {
                $("#datepicker").datepicker({ minDate: minDt, maxDate: "+1W" });
                $('#timepicker').timepicker({
                    timeFormat: 'h:mm p',
                    interval: 30,
                    minTime: '10',
                    maxTime: '9:00pm',
                    defaultTime: '11',
                    startTime: '11:00am',
                    dynamic: false,
                    dropdown: true,
                    scrollbar: true
                });
            });

            function setPickUpTime() {
                var dateSelected = document.getElementById("datepicker").value;
                var dt = new Date(dateSelected);
                var today = new Date(); 

                dt.setHours(0, 0, 0, 0);
                if (dt > today) {
                    selectedTime = "'11:00am";

                }
                else {
                    selectedTime = getTimeFromCurrentDate();
                }

                $('#timepicker').timepicker({ minTime: selectedTime })
            }

            function getTimeFromCurrentDate() {
                var curDt = new Date();

                var minTime = "";
                if (curDt.getHours() < 11) {
                    minTime = "12:00pm";
                }
                else {
                    if (curDt.getMinutes() < 30) {
                        minTime = (curDt.getHours() + 1).toString() + ':30pm';
                    }
                    else {
                        minTime = (curDt.getHours() + 2).toString() + ':00pm';
                    }
                }
                return minTime;
            }

            $('#datepicker').change(function () { /*Za każdą zmianą przycisku wywołamy tą funkcję*/
                setPickUpTime();
            });
        </script>
}